<div class="container">
  <app-quiz-configuration [data]="quiz.config"></app-quiz-configuration>
</div>

  <select>
  @for (u of msg; track $index) {
    <option>{{u.name}}</option>
  }
  </select>

<div class="container my-3">
    <app-display  (notif)="getdispaly($event)" [mdisplay]="'quiz'" ></app-display>
    @if (quiz.config.allowReview) {
    <app-display  (notif)="getdispaly($event)" [mdisplay]="'review'"></app-display>
    }
    <app-display  (notif)="getdispaly($event)" [mdisplay]="'submit'"></app-display>

</div>
<div class="container my-3">
  {{curentdate}}
  <hr/>
  {{duration/60 }}

<div>
  <h1> {{quiz.name}}</h1>   
  @if(mode=='quiz') {
  <div >
@for (q of quiz.questions; track $index) 
{
    @if ($index==pg) {
  <app-question [qt]="q" [mode]="mode"></app-question>
    }
}
<app-pagening [config]="quiz.config" (notif)="recuper($event)"></app-pagening>
</div>
  }
  @if(mode=='review') {
    <div>
      Review
      @for (q of quiz.questions; track $index) 
{
   
  <app-question [qt]="q" [mode]="mode"></app-question>
    
}
    </div>
  }

  @if(mode=="submit") {
    <div>
      Submit
       @for (q of quiz.questions; track $index) 
{
   
  <app-question [qt]="q" [mode]="mode"></app-question>
    
}
    </div>
  }
</div>
