<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       Configuration du QuiZ
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       <form>
        
      
        <div class="form-check form-switch">
  <input (change)="send(data)" class="form-check-input" type="checkbox" role="switch" id="AllowBack" [(ngModel)]="data.allowBack" name="AllowBack">
  <label class="form-check-label" for="AllowBack">AllowBack</label>
</div>
<div class="form-check form-switch">
  <input (change)="send(data)" class="form-check-input" type="checkbox" role="switch" id="AllowReview" [(ngModel)]="data.allowReview" name="AllowReview">
  <label class="form-check-label" for="AllowReview">AllowReview</label>
</div>
        <div class="form-check form-switch">
  <input (change)="send(data)"  class="form-check-input" type="checkbox" role="switch" id="autoMove" [(ngModel)]="data.autoMove" name="autoMove">
  <label class="form-check-label" for="autoMove">autoMove</label>
</div>
        <div class="mb-3">
            <label for="duration" class="form-label">duration </label>
            <input type="number" class="form-control" id="duration" [(ngModel)]="data.duration" name="duration">
         </div>
        <div class="mb-3">
            <label for="pageSize" class="form-label">pageSize </label>
            <input type="number" class="form-control" id="pageSize" [(ngModel)]="data.pageSize" name="pageSize">
            </div>
            <div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="showClock" [(ngModel)]="data.showClock" name="showClock">
  <label class="form-check-label" for="showClock">showClock</label>
</div>
        </form>
  </div>
  </div>
    
    